.strength {
  position: absolute;
  color: #999;
  top: 14px;
  right: 14px;
  font-size: 1.2rem;
  .low {
    color: #f04141;
  }
  .middle {
    color: #ffce00;
  }
  .high {
    color: #10dc60;
  }
}