<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="post()">post</ion-button>
    <ion-button (click)="get()">get</ion-button>
    <ion-spinner name="dots"></ion-spinner>

    <ion-button (click)="articleList()">articleList</ion-button>
    <ion-button (click)="test()">test</ion-button>
    <ion-button (click)="test2()">test2</ion-button>
    <ion-button routerLink="/tabs/tab1/test">next page</ion-button>
</ion-content>
