<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="post()">post</ion-button>
    <ion-button routerLink="/tabs/tab1/test">test page</ion-button>
    <ion-button (click)="test()">test page</ion-button>
    <ion-button [routerLink]="['/tabs/tab1/test2',2]">test2 page</ion-button>
    <ion-button (click)="test2()">test2 page</ion-button>
    <div id="entry" style="width: 200px;height: 100px;background: #0bb8cc">click me</div>

</ion-content>
