ion-content {
  --ion-background-color: #f5f5f5;
}

ion-item {
  --ion-background-color: #fff;
}

.avatar{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 4px;
  margin: 8px 0;
}

ion-note{
  font-size: 14px;
}

.qr-code{
  font-size: 20px;
  margin-right: -2px;
}